<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h2 class="footer-title">{{site.title}}</h2>
          <ul>
            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
            </div>

          <div class="footer-inner">
          <div class="row align-items-center">
             <div class="col-4">
               <img src="images/features/dipc.png" width="100" height="100" />
             </div>
          <div class="col-8">
               <font color="white">Paseo Manuel de Lardizabal, 4. <br>
               <font color="white">20018 Donostia <br>
               <font color="white">Euskadi, Spain
           </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
