---
layout: default
bodyClass: "page-home"
---

<div class="intro_landing">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0">
        <img alt=class="intro_landing-image{% if page.intro_image_absolute %} intro_landing-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro_landing-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" width=100% height=auto style="border: none; display: block; margin-left:auto; margin-right:auto" />
      </div>
    </div>
  </div>
</div>


<div class="container mx-auto">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-12 pt-n4 pb-8">
      <p class="text-center" style="font-size:22px">
        Our research focuses on the development of new electronic structure models for the study of electronic states of molecules and modelling of interesting photophysical processes for potential novel optoelectronics applications.
      </p>
      <p class="text-center" style="font-size:22px">
        <br>
      </p>
      <div class="call-email"><strong>Email: </strong>
      <a href="mailto:david.casanova[at]dipc.org">
        david.casanova[at]dipc.org
      </a>
    </div>
      <div class="call-phone"><strong>Phone: </strong> +34 943 015719 </div>
    </div>
  </div>
</div>


